(dp1
S'Dummy 2:Field 1'
p2
(lp3
I00
aS''
aS''
acsip
_unpickle_type
p4
(S'PyQt4.QtCore'
p5
S'QString'
(V
ttRp6
asS'Dummy 1:Field 1'
p7
(lp8
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp9
asS'Dummy 1:Field 2'
p10
(lp11
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp12
asS'Dummy 1:Field 3'
p13
(lp14
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp15
as.