(dp1
S'Dummy 2:Field 3'
p2
(lp3
I00
aS''
aS''
acsip
_unpickle_type
p4
(S'PyQt4.QtCore'
p5
S'QString'
(V
ttRp6
asS'Dummy 2:Field 2'
p7
(lp8
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp9
asS'Dummy 2:Field 1'
p10
(lp11
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp12
asS'Dummy 1:Field 8'
p13
(lp14
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp15
asS'Dummy 1:Field 9'
p16
(lp17
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp18
asS'Dummy 2:Field 5'
p19
(lp20
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp21
asS'Dummy 2:Field 4'
p22
(lp23
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp24
asS'Dummy 1:Field 4'
p25
(lp26
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp27
asS'Dummy 1:Field 5'
p28
(lp29
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp30
asS'Dummy 1:Field 6'
p31
(lp32
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp33
asS'Dummy 1:Field 7'
p34
(lp35
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp36
asS'Dummy 1:Field 1'
p37
(lp38
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp39
asS'Dummy 1:Field 2'
p40
(lp41
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp42
asS'Dummy 1:Field 3'
p43
(lp44
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp45
as.