(dp1
S'deviceRefreshRates'
p2
(dp3
S'Dummy 2'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F1
ssS'Dummy 1'
p8
(dp9
g6
I1
sg7
F1
sssS'DataLoggingInfo'
p10
(dp11
NNsg8
(dp12
S'channels'
p13
(dp14
S'Field 3'
p15
I00
sS'Field 2'
p16
I00
sS'Field 1'
p17
I00
sS'Field 7'
p18
I00
sS'Field 6'
p19
I00
sS'Field 5'
p20
I00
sS'Field 4'
p21
I00
sS'Field 9'
p22
I00
sS'Field 8'
p23
I00
sS'hi_joe'
p24
I01
ssS'name'
p25
S'test1'
p26
sS'location'
p27
S'C:\\Users\\noah\\Documents\\scripts'
p28
ssg4
(dp29
g13
(dp30
g15
I00
sg16
I00
sg17
I00
sg20
I00
sg21
I00
ssg25
S'test3'
p31
sg27
S'C:\\Users\\noah\\Documents\\scripts'
p32
sssS'guiRefreshRate'
p33
F0.5
s.