(dp1
S'deviceRefreshRates'
p2
(dp3
S'Dummy 2'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F1
ssS'Dummy 1'
p8
(dp9
S'plot'
p10
I1
sg7
F1
sssS'DataLoggingInfo'
p11
(dp12
g4
(dp13
S'channels'
p14
(dp15
S'Field 1'
p16
I01
ssS'name'
p17
S'2018_May_19'
p18
sS'location'
p19
S'C:\\Users\\Noah\\Documents\\scripts'
p20
ssNNsg8
(dp21
g14
(dp22
S'Field 3'
p23
I01
sS'Field 2'
p24
I01
sS'Field 1'
p25
I01
ssg17
S'Dummy 1'
p26
sg19
S'C:/Users/Noah/Documents/College/McDermott/DatachestRoot/05_16_18'
p27
sssS'guiRefreshRate'
p28
F0.5
s.